<link rel="stylesheet" href="/css/app/navbar.css">

<nav class="navbar navbar-expand-lg navbar-primary">
  <div class="container-fluid">
    <a class="navbar-brand text-white mr-4" href="{{ path('app_home') }}">
      <img src="/asset/logoPokemon.png" alt="Pokemon Logo" class="logo-pokemon"> Manager
    </a>
    <div class="navbar">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link text-white" href="{{ path('admin') }}">Admin</a></li>
        <li class="nav-item"><a class="nav-link text-white" href="{{ path('app_pokedex_national') }}">Pokedex National</a></li>
        <li class="nav-item"><a class="nav-link text-white" href="{{ path('app_stats_pokedex') }}">Stats Pokedex</a></li>
        <li class="nav-item"><a class="nav-link text-white" href="{{ path('app_boites_shiny') }}">Boîtes Shiny</a></li>
        <li class="nav-item"><a class="nav-link text-white" href="{{ path('app_pokemon_shiny') }}">Pokedex Shiny</a></li>
        <li class="nav-item"><a class="nav-link text-white" href="#">Stats Générales</a></li>
        <li class="nav-item"><a class="nav-link text-white" href="#">Stats par Boites</a></li>
      </ul>
    </div>
  </div>
</nav>
